
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login">
    <div>
        <label>
            Email:
        </label>
        @* <input asp-for="Email" class="form-control"/> *@
        <input class="form-control"/>
    </div>
    <div>
        <label>
            Пароль:
        </label>
        @* <input asp-for="Password" class="form-control"/> *@
        <input class="form-control"/>
    </div>
    <button type="submit" class="btn btn-outline-success">Войти</button>
</form>